

# Do not ignore the backend directory
!backend/
!backend/myMain/

# Ignore files in the backend directory
*.pyc
*.pyo
__pycache__/
*.sqlite3
*.db

# Ignore specific environment files
# myMain/.env.dev
# myMain/.env.prod

# Optionally, ignore other files that may be in different directories
*.pyc
*.pyo
__pycache__/
*.sqlite3
*.db
